*{
    padding: 0;
    margin: 0;
}
body{
    /* background-image: linear-gradient(to bottom , skyblue, blue); */
    background-color: skyblue;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    width: 400px;
    height: 200px;
    /* background-color: #fff; */
    border: 4px solid white;
    border-radius: 0px 50px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    text-align: center;
}
#heading{
    margin-bottom: 30px;
}
button{
    padding: 7px 20px;
    font-size: 20px;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    font-weight: 700;
    /* border: 2px solid white; */
    box-shadow: 2px 4px rgb(37, 37, 37);
    /* border-style: none; */
    cursor: pointer;
    transition: ease-in-out 1s;
}
button:hover{
    background-color: blue;
    color: white;
    border: 2px solid rgb(37,37,37);
    scale: 1 100%;
}